    .p
	{
	color:White; 
	font-size:60px; 
	font-family:Audiowide,cursive;
	}
	
	.box
	{
	width:600px;
    height:200px;
    text-align:center;
    border:1px solid #ffffff;
    padding:10px 40px; 
    border-radius:5px;
    -moz-border-radius:5px; /* Older Firefox */
    background-color:#ffffff;
    box-shadow: 3px 3px 5px #cccccc;
    -moz-box-shadow: 3px 3px 5px #cccccc; /* Older Firefox */
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:width/2;
	margin-top:height/2;
	}