    .p
	{
	color:White; 
	font-size:60px; 
	font-family:Audiowide,cursive;
	}
	
	.box
	{
	width:600px;
    height:200px;
    text-align:center;
    border:1px solid #dddddd;
    padding:10px 40px; 
    border-radius:2px;
    -moz-border-radius:2px; /* Older Firefox */
    background-color:#efefef;
    box-shadow: 3px 3px 1px #cccccc;
    -moz-box-shadow: 10px 10px 5px #ffffff; /* Older Firefox */
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	}