  
   
    .p
	{
	color:#ffffff; 
	font-size:2.5em; 
	font-family:Audiowide,cursive;
	text-shadow: 2px 2px 5px #2c3e50;
	}
	
	.box
	{
	width:320px;
    height:160px;
    text-align:center;
    border:1px solid #ffffff;
    padding:10px 40px; 
    border-radius:5px;
    -moz-border-radius:5px; /* Older Firefox */
    box-shadow: 2px 2px 5px #2c3e50;
    -moz-box-shadow: 1px 1px 1px #ffffff; /* Older Firefox */
	position:absolute; 
	top:35%; 
	left:35%; 
	background: -moz-radial-gradient(center, ellipse cover,  rgba(41,128,185,0.35) 0%, rgba(41,128,185,0.35) 1%, rgba(255,255,255,0.15) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(41,128,185,0.35)), color-stop(1%,rgba(41,128,185,0.35)), color-stop(100%,rgba(255,255,255,0.15))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(41,128,185,0.35) 0%,rgba(41,128,185,0.35) 1%,rgba(255,255,255,0.15) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(41,128,185,0.35) 0%,rgba(41,128,185,0.35) 1%,rgba(255,255,255,0.15) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(41,128,185,0.35) 0%,rgba(41,128,185,0.35) 1%,rgba(255,255,255,0.15) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(41,128,185,0.35) 0%,rgba(41,128,185,0.35) 1%,rgba(255,255,255,0.15) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#592980b9', endColorstr='#26ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	}